* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: whitesmoke;
    transition: ease all 0.5s;
}
a {
    text-decoration: none;
    color: #ffffff;
}
li {
    list-style-type: none;
}
h3 {
    font-size: 19px;
    margin: 7px 0;
}
h4 {
    font-size: 16px;
    color: rgb(3, 3, 3);
}
header {
    background: rgb(56, 56, 56);
}
.header_main {
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
    max-width: 980px;
}
/* .section {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
} */
.menu-area-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.bannen_inner {

}
.info_name {
    
}
.info_name h3 {
    display: block;
    text-align: center;
    font-size: 28px;
    padding: 15px 0 10px 0;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: system-ui;
}
.info_name h4 {
    display: block;
    text-align: center;
    font-size: 19px;
    margin-block-start: 0em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: cursive;
    font-weight: normal;
    letter-spacing: 1px;
    color: #27579f;
}
.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}   
/*
.i4 {
}
.i4 :hover{
    color: rgb(39, 87, 159);
    transition: 0.5s ease-out all;
} */
.information h4 ,.information h3 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}
.information h4 {
    font-size: 13px;
}
.information h3 {
    font-size: 16px;
}
.information div {
    display: flex;
    flex-flow: column;
    text-align: center;
}
.img_box {
    text-align: center;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.img_box img {
    width: 37%;
    margin-block-end: 10px;
}
.container {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
    background: rgba(209, 209, 209, 0.3);
}
.specs_list {
}
.details {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
    background: rgba(209, 209, 209, 0.3);
}
table {
    border-top: 5px solid #eee;
    width: 100%;
    padding: 1px 0;
    background-color: #fafafa;
}
table td {
    font: 15px Arimo,Arial;
    padding: 2px 10px;
    vertical-align: top;
    letter-spacing: .2px;
}
table th {
    text-align: left;
    text-transform: uppercase;
    width: 115.2px;
    color: #27579f;
    padding: 2px 10px;
    vertical-align: top;
    border-right: medium none;
    font: 17px Google-Oswald,Arial;
    font-weight: bold;
}
table td {
    border-bottom: 1px solid #f0f0f0;
    line-height: 16px;
}
table td.ttl {
    color: rgb(56, 56, 56);
    font-weight: 700;
    width: 110px;
}

.rates {
    margin-block-end: 1em;
    text-align: center;
    margin-block-start: 1em;
    display: flex;
    justify-content: space-between;
}
.rates img {
    width: 150px;
}
.rates .img1 {
    padding-top: 10px;
}
.rates h3 {
    display: block;
    font-size: 1.3em;
    margin-block-start: -0.33em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #0176a7;
}
.logo_score img{
    width: 55%;
}
.logo_score .geekbench{
    width: 40%;
}
.scoreBadgeValue {
    font-size: 44px;
    padding: 49.4px 10px 49.4px 20px;
    color: black;;
    letter-spacing: 0px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
}
.contact_section {
    margin-block-end: 0;
}
.menu_text, .menu_text ul {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0;
}
.menu_text ul  {
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: 215px;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}
.copyright_main p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px;
    text-align: center;
    background: rgb(56, 56, 56);
    color: #fff;
}
.row2 {
    display: flex;
}
.col2, .col1 {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
    padding: 0 20px;
}
.col2 ul , .col1 ul {
    padding: 0;
    margin: 0%;
}
.col4 {
    flex: 0 0 33%;
    max-width: 33%;
}
.toggle img {
    display: none;
}
@media (min-width:1200px)   {
    .img_box img {
        width: 350px;
    }
}
@media only screan and (min-width:768px) and (max-width:1100px){
    .information h4 {
        font-size: 11px;
    }
    .information h3 {
        font-size: 14px;
    }
    table td {
        font-size: 14px;
    }
    table th {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .toggle img {
        display: block;
        padding: 8px;
    }
    .menu-area-main {
        position: fixed;
        color: #fff;
        background: rgb(56,56,56);
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        z-index: 999;
        margin-block-start: 0px;
    }
    .menu-area-main.active  {
        left: 0;
    }
    header ul li a  {
        color: #ffffff;
        font-size: 24px;
        margin: 10px;
    }
    .toggle    {
        width: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background: 30px;
        cursor: pointer;
    }
    .toggle.active  {
        background-position: center;
        background-repeat: no-repeat;
        background: 25px;
        cursor: pointer;
    }
    header .toggle  {
        filter: invert(1);
        margin: 0 auto;
    }
    .col4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    table th {
        width: 105px;
        font-size: 15px;
    }
    table td, table th {
        letter-spacing: .1px;
    }
    table td {
        font-size: 13px;
    }
    .information h4 {
        font-size: 10px;
    }
    .information h3 {
        font-size: 13px;
    }
    .info_name h3{
        font-size: 26px;
    }
    .info_name h4 {
        font-size: 18px;
    }
    .rates {
        flex-flow: column;
        margin: 0 auto;
        align-items: center;
    }
    .menu_text ul {
        width: 195px;
    }
}
@media (max-width:586px) {
    table th {
        width: 99px;
        font-size: 14px;
    }
    table td, table th {
        letter-spacing: .05px;
    }
    table td {
        font-size: 12px;
    }
    table td.ttl {
        width: 99px;
    }
    .information h4 {
        font-size: 8.5px;
    }
    .information h3 {
        font-size: 11px;
    }
    .info_name h3 {
        font-size: 25px;
    }
    .info_name h4 {
        font-size: 15px;
    }
    .rates {
        flex-flow: column;
        margin: 0 auto;
        align-items: center;
    }
    .menu_text ul {
        width: 165px;
    }
}
.icons , .logos {
    display: flex;

}
.logos {
    justify-content: space-between;
    align-items: center;
}
.names {
    display: flex;
}
.sel {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-block-end: 25px;
}
#yek {
    color: rgb(15, 15, 15);
    margin: 0;
    font-size: 1.5em;
}
.camera , .audio {
    width: 150px;
    margin: 0 auto;
}
.camera img, .audio img{
    position: absolute;
    display: block;
}
.s {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
    height: 5vh;
    background: rgb(56, 56, 56);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}
.ss {
    margin: 0 auto;
    height: 5vh;
    background: rgb(56, 56, 56);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media (min-width: 576px)   {
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        background: rgb(219 219 225);
    }
}