body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    box-sizing: border-box;
    transition: ease all 0.5s;
}
a {
    text-decoration: none;
    color: #ffffff;
}
li {
    list-style-type: none;
}
h3 {
    font-size: 19px;
    margin: 7px 0;
}
h4 {
    font-size: 16px;
    color: rgb(3, 3, 3);
}
header {
    background: rgb(56, 56, 56);
}
.header_main {
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
    max-width: 980px;
}
/* .section {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
} */
.menu-area-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.bannen_inner {

}
.info_name {
    
}
.info_name h3 {
    display: block;
    text-align: center;
    font-size: 28px;
    padding: 15px 0 10px 0;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: system-ui;
}
.info_name h4 {
    display: block;
    text-align: center;
    font-size: 19px;
    margin-block-start: 0em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: cursive;
    font-weight: normal;
    letter-spacing: 1px;
    color: #27579f;
}
.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}   
/*
.i4 {
}
.i4 :hover{
    color: rgb(39, 87, 159);
    transition: 0.5s ease-out all;
} */
.information h4 ,.information h3 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}
.information h4 {
    font-size: 13px;
}
.information h3 {
    font-size: 16px;
}
.information div {
    display: flex;
    flex-flow: column;
    text-align: center;
}
.img_box {
    text-align: center;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.img_box img {
    width: 37%;
    margin-block-end: 10px;
}
.container {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
    background: rgba(209, 209, 209, 0.3);
}
.specs_list {
}
.details {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
    background: rgba(209, 209, 209, 0.3);
}
table {
    border-top: 5px solid #eee;
    width: 100%;
    padding: 1px 0;
    background-color: #fafafa;
}
table td, table th {
    font: 14px Arimo,Arial;
    padding: 2px 10px;
    vertical-align: top;
}
table th {
    text-align: left;
    text-transform: uppercase;
    width: 86px;
    color: #27579f;
    padding: 2px 10px;
    vertical-align: top;
    border-right: medium none;
    font: 16px Google-Oswald,Arial;
    font-weight: bold;
}
table td {
    border-bottom: 1px solid #f0f0f0;
    line-height: 16px;
}
table td.ttl {
    color: rgb(56, 56, 56);
    font-weight: 700;
    width: 110px;
}
.row1 {
    margin-block-end: 1em;
    display: flex;
    text-align: center;
    margin-block-start: 1em;
}
.row1 img {
    width: 30%;
}
.row1 .img1 {
    padding-top: 10px;
}
.logo_score img{
    width: 55%;
}
.row1 h3 {
    display: block;
    font-size: 1.3em;
    margin-block-start: -0.33em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #0176a7;
}
.contact_section {
    margin-block-end: 0;
}
.menu_text, .menu_text ul {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0;
}
.menu_text ul  {
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: 230px;
    justify-content: space-between;
    padding: 5px 0;
}
.copyright_main p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px;
    text-align: center;
    background: rgb(56, 56, 56);
    color: #fff;
}
.row2 {
    display: flex;
}
.col2, .col1 {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
    padding: 0 20px;
}
.col2 ul , .col1 ul {
    padding: 0;
    margin: 0%;
}
@media (max-width: 910px)   {
    .information h4 {
        font-size: 11px;
    }
    .information h3 {
        font-size: 14px;
    }
    img {
         
    }
}
.col-sm-4 {
    flex: 0 0 33%;
    max-width: 33%;
}
.s {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;
    height: 5vh;
    background: rgb(56, 56, 56);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}
.ss {
    margin: 0 auto;
    height: 5vh;
    background: rgb(56, 56, 56);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
@media (min-width:1200px)   {
    .img_box img {
        width: 350px;
    }
}
@media (min-width: 576px)   {
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        background: rgb(219 219 225);
    }
}
